# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini

# Linux
*~
.directory
.Trash-*

# npm
node_modules/
npm-debug.log

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Build files
ffg-consumables.zip
dist/
